<div class="info-dialog">
    <H3>Info!</H3>
    <p>
        Swipe image right or left to move through the gallery. To download the image, click the blue 'download' icon <img src="/images/downloadIcon2.png" />. In modern browsers clicking this icon will download a copy of the image to your computer. In Safari on iPhones clicking this icon will just open the full size image in your browser. If that happens you can download the image by holding your finger down on it and you can navigate back to the gallery by using the browser's back button.
    </p>
    <div id="button-container">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</div>
