<div id="debug-message-1"></div>
<div id="debug-message-2"></div>
<div id="current-image-holder" ng-swipe-left="handleLeftSwipe();" ng-swipe-right="handleRightSwipe();" style="height:200px; width:100%">
</div>

<!--<div>
    <h2>{{gallery.Gallery.Metadata.Name}}</h2>
    <div class="row display-gallery-block" ng-repeat="image in gallery.Gallery.Images">
        <img ng-if="!scope.mobile" src="{{image.WebUrl}}" alt="" />
        <img ng-if="scope.mobile" src="{{image.MobileUrl}}" alt="" />
        <p id="caption">{{image.ImageMetadata.Caption}}</p>
        <ul class="list-inline">
            <li>{{image.Name}}</li>
            <li><a href="{{image.FullUrl}}" download="{{image.Name}}">download full size</a></li>
        </ul>
        <hr />
    </div>
</div>
-->

