<h2>mikedicepics.com - A Web Site by Mike Dice</h2>
<h3>This application was developed by me. I built this application so I can share my photography with family and friends that don't do Facebook. Hope you enjoy it!</h3>

<p>I have a lot of ideas for new features for this web site. I'll add them when I get some free time.</p>

<section>
    <p>For the techno geeks out there, and I know there are a lot of you! Some of the tech in play on this site</p>
    <ul>
        <li>AngularJS 1.3.0 (via GOOG CDN)</li>
        <li>Bootstrap 3.2</li>
        <li>HTML 5 targeting modern versions of all major browsers. I don't even attempt to support old browsers. You can get away with that when you don't builds sites for the man :)</li>
        <li>OWIN protocol version 1.0.0.0</li>
        <li>Asp.Net MVC 5.2.2</li>
        <li>Microsoft Asp.Net OWIN stack version 3.0.0.0</li>
        <li>Hosted on Microsoft Azure, US West data center</li>
        <li>Image processing using Adobe Lightroom 5</li>
        <li>Photos shot with with my beloved Nikon D7000. I've thought a lot about ugrading to a full-frame body. If I ever reach the point where I have completely learned and stretched the all the feature of my D7000 and am unable to get the pictures I want, then maybe I'll upgrade. The D7000 has such a vast amount of features and a great sensor though so I think it'll be a while before I get to that point</li>
    </ul>
</section>
