body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.image-control-group {
    margin-top: 45px;
}

.thumb-image {
    display: block;
}

.delete_image_check {
}

.gallery-caption-textarea {
    width: 600px;
    max-width: 600px;
    height: 150px;
}

.thumbnail-cloud-image {
    min-width: 120px;
    max-width: 120px;
    display: block;
}

    .thumbnail-cloud-image:hover {
        opacity: .4;
        cursor: pointer;
    }

.image-cloud-column {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    vertical-align: top;
    margin-right: -4px; /*remove whitespace between columns*/
}

    .image-cloud-column li {
        text-decoration: none;
    }

.gallery-container {
    min-width: 960px;
}

.display-gallery-block a{
    display:block;
    text-align:center;
    font-size: 18pt;
}
.display-gallery-block img{
    display:block;
    width: 95%;
    margin-left:5px;
    margin-right:5px;
}
.display-gallery-block p{
    margin-left: 5px;
    font-size: 18pt;
}
.display-gallery-block ul {
    margin-left:5px;
}
.display-gallery-block #caption {
       font-size: 24pt;
}
.display-gallery-block #filename {
       font-size: 18pt;
}

.mycell{
    background-color:lightblue;
    border-style: solid;
    border-width: 1px;
}

